.Label-container{
    background-color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;;
}
.Title-label{
    font-size: 225%;
    text-transform: capitalize;
    font-family: 'Asap Condensed', arial, sans-serif;
    display: inline;
    margin-right: 1%;
}
.Label-id{
    font-size: 225%;
    font-family: 'Asap Condensed', arial, sans-serif;
    color: #616161;
    display: inline;
    margin-left: 1%;
}
.Pokemon-container{
    width: 80%;
    background-color: #fff;
    text-align: center;
    margin: auto;
}
.Container{
    align-items: center;
    background-color: #ffffff;
    background-image: url("../../../public/container_bg.png");
}
.Pokemon-image{
    background-color: #F2F2F2;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 1%;
}
.Pokemon-details{
    background-color: yellow;
    margin-left: 1%;
}
.Pokemon-body{
    
    display: inline-flex;
}
.Pokemon-stats{
    display: block;
    background-color: #a4a4a4;
    margin-right: 1%;
    border-radius: 10px;
    padding: 5%;
    padding-top: 2%;
    color: #212121;
    text-align: left;
    margin-top: 2%;
}
td {
    border-style: none;
    padding: 1%;
    width: 12%;
}
table {
    width: 100%;
    empty-cells: show;
    border-spacing: 3px;
}
.Stat-label{
    padding-bottom: 5%;
    color: #212121;
    text-align: left;
    font-family: 'Asap Condensed', arial, sans-serif;
    font-size: 100%;
}
.Stat-name{
    border-style: none;
    font-size: 75%; 
    overflow-wrap: break-word; 
    vertical-align: top; 
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}